.main-header{
    position: relative;
    background: url(../img/background.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items:center;
    min-height: 600px;

}
.background-overlay{
    position: absolute;
    background: rgba(58, 227, 116, .1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.himg{
    object-fit: cover;
    height: 300px;
    width: auto; 










